

.request_block {
    border-radius: 10px;
    padding: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input {
    margin: 0 auto 20px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center
}

#btn {
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    transition: 0.2s
}

#btn:hover {
    transform: scale(1.25);
    background-color: gray;
}

.content {
    border-radius: 10px;
    background-color:gray;
    margin: 35px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 300px
}

.card_image {
    display: block;
    margin: 5px;
    width: 200px;
    height: 150px
}

.card {
    width: 200px;
    margin: 20px
}